.app_dark {
  --white: rgba(255, 255, 255, 0.1);
  --bgcolor: #1d1d1d;
  --hover: #fbe0dc6e;
  --active: #ff868e;
  --text: white;
  --form:rgba(255, 255, 255, 0.5);
  --right:rgba(255, 255, 255, 0.1);
}
.app_light {
  --form: white;
  --text: black;
  --white: #ffffff;
  --bgcolor: #e5e5e5;
  --hover: #fbe0dc;
  --active: #ff868e;
  --right:#fbe0dc;
}


.right {
  position: absolute;
  width: 45vw;

  right: 30px;
  top: 30px;
  bottom: 30px;

  background: var(--right);
  border-radius: 20px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.girl {
  /* girl-and-pet 1 */
  
  height: 100vh;
  position: absolute;
  right: -18px;
  top: -40px;
  bottom: 40px;

  /* Inside auto layout */
}

