.app_dark {
  --white: rgba(255, 255, 255, 0.1);
  --bgcolor: #1d1d1d;
  --hover: rgba(255, 134, 142, 0.2);
  --active: #ff868e;
  --text: white;
  --form:rgba(255, 255, 255, 0.5);
}
.app_light {
  --form: white;
  --text: black;
  --white: #ffffff;
  --bgcolor: #e5e5e5;
  --hover: #fbe0dc;
  --active: #ff868e;
}

.grid_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image_container {
  width: 200px;
  height: 140px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.image_container img {
  position: absolute;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.hovered {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 134, 142, 0.6);
  border-radius: 20px;
  z-index: 1;
}

.hovered span {
  width: 180px;
  height: 40px;
  background: var(--form);
  border-radius: 10px;

  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--active);
}

.image_container:hover .hovered {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.left {
  display: flex;
  align-items: center;
  justify-content: left;
  width: max-content;
}

.button {
  width: 146px;
  height: 40px;
  background: var(--active);
  border-radius: 10px;
  border: none;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 2px;

  color: white;
}

.back {
  width: 40px;
  height: 40px;
  background-color: var(--hover);
  background-image: url(../images/wing_default.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
  border-radius: 10px;
  border: none;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 2px;

  color: #ffffff00;
}
