.app_dark {
  --white: rgba(255, 255, 255, 0.1);
  --bgcolor: #1d1d1d;
  --hover: rgba(255, 134, 142, 0.2);
  --active: #ff868e;
  --text: white;
}
.app_light {
  --text: black;
  --white: #ffffff;
  --bgcolor: #e5e5e5;
  --hover: #fbe0dc;
  --active: #ff868e;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 146px;
  height: 40px;
  background: var(--active);
  border-radius: 10px;
  border: none;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 2px;

  color: #ffffff;
}
.back {
  width: 40px;
  height: 40px;
  background-color: var(--hover);
  background-image: url(../../../images/wing_default.svg);
  background-repeat: no-repeat;
  background-position: center;

  margin-right: 5px;
  border-radius: 10px;
  border: none;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 2px;

  color: #ffffff00;
}

.all {
  width: 226px;
  height: 40px;
  background-color: var(--gray);
  border: none;
  border-radius: 10px;

  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 10px auto;
  /* identical to box height, or 150% */

  color: #8c8c8c;
  margin-left: 5px;
}

.limit {
  width: 101px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--gray);
  border: none;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 10px auto;
  /* identical to box height, or 150% */

  color: #8c8c8c;
  margin-left: 5px;
}

.button_sort_down {
  background-image: url(../../../images/sort_down.svg);
}
.button_sort_upp {
  background-image: url(../../../images/sort_upp.svg);
}

.button_sort_down:hover {
  background-image: url(../../../images/sort_down_hover.svg);
}
.button_sort_upp:hover {
  background-image: url(../../../images/sort_upp_hover.svg);
}

.button_sort {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
  background-color: var(--gray);
}

.button_sort:hover {
  border: 2px solid #fbe0dc;
}

.pages {
  align-items: center;
  padding: 12px 30px;
  gap: 10px;

  background: var(--hover);
  border-radius: 10px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: var(--active);
  border: none;
}

.pages:hover {
  background: var(--white);
  color: #8c8c8c;
}

.pages:active {
  background: var(--active);
  color: white;
}

.pages_prev:hover {
  background-image: url(../../../images/prev_hover_wing.svg);
  background-repeat: no-repeat;
  background-position: left 5px center;
}

.pages_prev:active {
  background-image: url(../../../images/prev_active_wing.svg);
  background-repeat: no-repeat;
  background-position: left 5px center;
}

.pages_prev {
  background-image: url(../../../images/prev_default_wing.svg);

  background-repeat: no-repeat;
  background-position: left 5px center;
}

.pages_next:hover {
  background-image: url(../../../images/next_hover_wingsvg.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.pages_next:active {
  background-image: url(../../../images/next_active_wingsvg.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.pages_next {
  background-image: url(../../../images/next_default_wing.svg);

  background-repeat: no-repeat;
  background-position: right 5px center;
  margin-left: 10px;
}
.button_container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1462px) {
  .all {
    width: 80px;
  }
  .limit {
    width: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .all {
    width: 120px;
  }
  .limit {
    width: 120px;
  }
  /* ... */
}
@media screen and (max-width: 600px) {
  /* ... */
  .menu {
    flex-wrap: wrap;
  }
  .limit {
    width: 60%;
  }
  .all {
    width: 100%;
    margin-bottom: 10px;
  }
  .back {
    margin-bottom: 10px;
  }
  .button {
    margin-bottom: 10px;
  }
}
