$bgcolor: #e5e5e5;
$hover: #fbe0dc;
$active: #ff868e;
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  width: 146px;
  height: 40px;
  background: $active;
  border-radius: 10px;
  border: none;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 2px;

  color: #ffffff;
}
.back {
  width: 40px;
  height: 40px;
  background-color: $hover;
  background-image: url(../../../images/wing_default.svg);
  background-repeat: no-repeat;
  background-position: center;

  margin-right: 5px;
  border-radius: 10px;
  border: none;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 2px;

  color: #ffffff00;
}

.all {
  width: 226px;
  height: 40px;
  background-color: $bgcolor;
  border: none;
  border-radius: 10px;

  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 10px auto;
  /* identical to box height, or 150% */

  color: #8c8c8c;
  margin-left: 5px;
}

.limit {
  width: 101px;
  height: 40px;
  border-radius: 10px;
  background-color: $bgcolor;
  border: none;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 10px auto;
  /* identical to box height, or 150% */

  color: #8c8c8c;
  margin-left: 5px;
}

.button_sort_down {
  background-image: url(../../../images/sort_down.svg);
}
.button_sort_upp {
  background-image: url(../../../images/sort_upp.svg);
}

.button_sort_down:hover {
  background-image: url(../../../images/sort_down_hover.svg);
}
.button_sort_upp:hover {
  background-image: url(../../../images/sort_upp_hover.svg);
}

.button_sort {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
}

.button_sort:hover {
  border: 2px solid #fbe0dc;
}



.item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 250px;
  height: 200px
}
.item_img {
  width: 100%;
  height: 100%;
}


.hovered_div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 134, 142, 0.6);
  text-align: center;
  color: white;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  z-index: 4;
  display: none;
  

  /* identical to box height, or 150% */
}

.hovered {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hovered_text {
  background: #ffffff;
  border-radius: 10px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;

  text-align: center;

  color: #ff868e;
  margin-bottom: 15px;
}


.grid_container {
  display: grid;
  grid-template-areas:
    'lt ct rt'
    'lt rb rb'
    'lb rb rb';
  grid-gap: 10px;

  padding: 10px;
}
.grid_container_reverse {
  display: grid;
  grid-template-areas:
    'lt ct rt'
    'lb lb rt'
    'lb lb rb';
  grid-gap: 10px;

  padding: 10px;
}

.pages {
  align-items: center;
  padding: 12px 30px;
  gap: 10px;

  background: #fbe0dc;
  border-radius: 10px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  letter-spacing: 2px;
  color: #ff868e;
  border: none;
}

.pages:hover {
  background: #f8f8f7;
  color: #8c8c8c;
}

.pages:active {
  background: #ff868e;
  color: white;
}

.pages_prev:hover {
  background-image: url(../../../images/prev_hover_wing.svg);
  background-repeat: no-repeat;
  background-position: left 5px center;
}

.pages_prev:active {
  background-image: url(../../../images/prev_active_wing.svg);
  background-repeat: no-repeat;
  background-position: left 5px center;
}

.pages_prev {
  background-image: url(../../../images/prev_default_wing.svg);

  background-repeat: no-repeat;
  background-position: left 5px center;
}

.pages_next:hover {
  background-image: url(../../../images/next_hover_wingsvg.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.pages_next:active {
  background-image: url(../../../images/next_active_wingsvg.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.pages_next {
  background-image: url(../../../images/next_default_wing.svg);

  background-repeat: no-repeat;
  background-position: right 5px center;
  margin-left: 10px;
}
.button_container {
  display: flex;
  justify-content: center;
}
