$bgcolor: #e5e5e5;
$hover: #fbe0dc;
$active: #ff868e;

.right {
  width: 45vw;
  height: 100vh;
  margin-right: 30px;
}

.page_voting {
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  margin-top: 5px;
  padding: 30px;
  box-sizing: border-box;
}

