.app_dark {
  --white: rgba(255, 255, 255, 0.1);
  --bgcolor: #1d1d1d;
  --hover: rgba(255, 134, 142, 0.2);
  --active: #ff868e;
  --text: white;
  --form: rgba(255, 255, 255, 0.5);
}
.app_light {
  --form: white;
  --text: black;
  --white: #ffffff;
  --bgcolor: #e5e5e5;
  --hover: #fbe0dc;
  --active: #ff868e;
}

.right {
  width: 45vw;
  height: 100vh;
  margin-right: 30px;
}

.page_voting {
  background: var(--white);
  border-radius: 20px;
  width: 100%;
  height: max-content;
  margin-top: 10px;
  padding: 30px;
  box-sizing: border-box;
  overflow: auto;
}
.page_voting::-webkit-scrollbar {
  display: none;
}
.page_voting {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (min-width: 1462px) {
  /* ... */
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100vw;
    position: absolute;
    top: 0px;
    right: 0px;

    background-color: var(--bgcolor);
    z-index: 100;
    box-sizing: border-box;
    height: 100vh;
  }
  .right {
    width: 90vw;
    position: absolute;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: var(--bgcolor);
    z-index: 100;
    box-sizing: border-box;
    height: max-content;
  }
}
@media screen and (min-width: 800px) {
}
@media screen and (min-width: 500px) {
}
