.app_dark {
  --white: rgba(255, 255, 255, 0.1);
  --bgcolor: #1d1d1d;
  --hover: rgba(255, 134, 142, 0.2);
  --active: #ff868e;
  --text: white;
  --form: rgba(255, 255, 255, 0.5);
}
.app_light {
  --form: white;
  --text: black;
  --white: #ffffff;
  --bgcolor: #e5e5e5;
  --hover: #fbe0dc;
  --active: #ff868e;
}

.modal_back {
  position: fixed;

  width: 100vw;
  background: rgba(29, 29, 29, 0.6);
  z-index: 200;
  height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: right;
  box-sizing: border-box;
}

.upload_photo {
  width: 172px;
  height: 40px;
  background: var(--active);
  border-radius: 10px;
  margin: 0 auto;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  text-align: center;
  letter-spacing: 2px;

  color: #ffffff;
}

.close_modal {
  position: absolute;
  top: 70px;
  right: 50px;
  height: 40px;
  width: 40px;
  background-color: var(--white);
  background-image: url(../images/close_default.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 10px;
}

.close_modal:hover {
  background-color: var(--hover);
}

.close_modal:active {
  background-color: var(--active);
  background-image: url(../images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.modal_body {
  z-index: 300;
  height: 90%;
  background-color: var(--white);
  width: 40%;
  background: var(--white);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.h1 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
  /* identical to box height */

  color: var(--text);
}

.h2 {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  margin-bottom: 30px;
  color: #8c8c8c;
}

.desc {
  width: 100%;
  background: var(--white);
  border: 2px dashed #fbe0dc;
  border-radius: 20px;
  background-image: url(../images/photo.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  height: 320px;
  cursor: pointer;
  position: relative;
}

.image_uploaded {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.hidden {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

@media screen and (max-width: 1462px) {
  /* ... */
}
@media screen and (max-width: 1000px) {
  /* ... */
}
@media screen and (max-width: 800px) {
  /* ... */
}
@media screen and (max-width: 600px) {
  .modal_body {
    width: 100vw;
    height: 100vh;
  }
  .modal_back {
    padding: 0px;
    background-color: var(--bgcolor);
  }
  /* ... */
}
