.app_dark {
  --white: rgba(255, 255, 255, 0.1);
  --bgcolor: #1d1d1d;
  --hover: rgba(255, 134, 142, 0.2);
  --active: #ff868e;
  --text: white;
  --right: rgba(255, 255, 255, 0.1);
  --logo: url(../images/logocopy.svg);
  --form: #1d1d1d;
  --gray: rgba(255, 255, 255, 0.1);
  --position: flex-start;
  --img: url(../images/eye_down.svg);
  --eye: rgba(255, 255, 255, 0.1);
}
.app_light {
  --text: black;
  --white: #ffffff;
  --bgcolor: #e5e5e5;
  --hover: #fbe0dc;
  --active: #ff868e;
  --logo: url(../images/logo.svg);
  --right: #fbe0dc;
  --form: white;
  --gray: #f8f8f7;
  --position: flex-end;
  --img: url(../images/eye_upp.svg);
  --eye: white;
}

.left {
  width: max-content;
  height: 544px;
  left: 100px;
  top: 30px;
  border-radius: 20px;
  margin-left: 139px;
  top: 30px;
  position: -webkit-sticky;
  position: sticky;
}

.start {
  /* Lets start using The Cat API */
  width: 241px;
  height: 29px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */
  color: var(--text);
}

.btn {
  background: var(--white);
  border-radius: 10px;
  border: none;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  width: 138px;
  height: 36px;
  text-align: center;
  letter-spacing: 2px;

  color: var(--active);
  margin-left: 16px;
}
.btn:hover {
  background-color: var(--hover);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -16px;
}

.flex_item {
  box-sizing: border-box;
  width: 138px;
  height: 198px;
  border-radius: 20px;
  margin-left: 16px;
  margin-bottom: 5px;
}
.vote {
  background: #b4b7ff;
  border: 4px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
}

.pet {
  background: #97eab9;
  border: 4px solid rgba(255, 255, 255, 0.6);
}

.images {
  background: #ffd280;
  border: 4px solid rgba(255, 255, 255, 0.6);
}

.flex_item:hover {
  border: 4px solid var(--white);
}

.flex_item_active div {
  border: 4px solid var(--active);
}

.flex_item_active button {
  background-color: var(--active);
  color: var(--white);
}

.img {
  width: 117px;
  height: 163px;
}

.page {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: var(--bgcolor);
  justify-content: center;
  z-index: 200;
  width: 100vw;
  height: 100vh;
}

.page .close {
  position: absolute;
  background-image: url(../images/cross.svg);
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 10px;
  top: 50px;
  right: 50px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.close:hover {
  background-color: var(--hover);
}

.close:active {
  background-color: var(--active);
  background-image: url(../images/cross_active.svg);
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 600px) {
  .page {
    width: 100vw;
  }
  .left {
    margin-left: 30px;
    width: 80vw;
    margin: 0 auto;
  }

  .flex_item {
    display: none;
  }
  .container {
    display: block;
  }
  .container div {
    width: 80vw;
    margin: 0 auto;
  }
  .btn {
    width: 100%;
    margin-bottom: 10px;
  }
  /* ... */
}
