.app_dark {
  --white: rgba(255, 255, 255, 0.1);
  --bgcolor: #1d1d1d;
  --hover: rgba(255, 134, 142, 0.2);
  --active: #ff868e;
  --text: white;
  --form: rgba(255, 255, 255, 0.5);
}
.app_light {
  --form: white;
  --text: black;
  --white: #ffffff;
  --bgcolor: #e5e5e5;
  --hover: #fbe0dc;
  --active: #ff868e;
}

.tools {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.button {
  width: 60px;
  height: 60px;

  background: var(--white);

  background-repeat: no-repeat;
  border-radius: 20px;
  border: none;
  background-position: center;
}

.button:active {
  background-color: black;
}

.button_smile {
  background-image: url(../images//smile_default.svg);
}

.button_heart {
  background-image: url(../images//heart_default.svg);
}

.button_upset_smile {
  background-image: url(../images//upset_smile_default.svg);
}

.button_smile:hover,
.button_heart:hover,
.button_upset_smile:hover {
  background-color: var(--hover);
}

.button_smile:active,
.button_heart:active,
.button_upset_smile:active {
  background-color: var(--active);
}

.button_upset_smile {
  background-image: url(../images/upset_smile_default.svg);
}

.active_like {
  background-image: url(../images/smile_active.svg);
  background-color: var(--active);
}

.active_favorite {
  background-image: url(../images/heart_active.svg);
  background-color: var(--active);
}

.active_dislike {
  background-image: url(../images/upset_smile_active.svg);
  background-color: var(--active);
}

.search {
  background: var(--white);
  border-radius: 20px;
  width: 470px;
  height: 60px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}

.input_container button {
  position: absolute;
  right: 15px;
  background-image: url(../images/search.svg);
  background-color: var(--hover);
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-position: center;
  border: none;
  background-repeat: no-repeat;
}

.burger {
  width: 40px;
  height: 40px;
  background-color: var(--white);
  background-image: url(../images/burger.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  border-radius: 10px;
}

.input_container {
  height: max-content;
  width: max-content;
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1462px) {
  .search {
    width: 250px;
  }
}
@media screen and (max-width: 1000px) {
  .burger {
    display: block;
    border: none;
  }
  .search {
    width: 400px;
  }
}
@media screen and (max-width: 800px) {
  .search {
    width: 300px;
  }
}
@media screen and (min-width: 800px) {
}
@media screen and (max-width: 600px) {
  .search {
    display: none;
  }
  .input_container button {
    display: none;
  }
}
