.app_dark {
  --white: rgba(255, 255, 255, 0.1);
  --bgcolor: #1d1d1d;
  --hover: rgba(255, 134, 142, 0.2);
  --active: #ff868e;
  --text: white;
}
.app_light {
  --text: black;
  --white: #ffffff;
  --bgcolor: #e5e5e5;
  --hover: #fbe0dc;
  --active: #ff868e;
}

.hovered_div button {
  width: 40px;
  height: 40px;
  background-color: var(--form);
  border-radius: 10px;
  background-image: url(../images/smile_default.svg);
  background-repeat: no-repeat;
  border: none;
  background-position: center;
}

.hovered_div button:hover {
  background-color: var(--hover);
}

.hovered_div button:active {
  background-color: var(--active);
  background-image: url(../images/smile_active.svg);
  background-repeat: no-repeat;

  background-position: center;
}

.hovered_btn button.like {
  background-image: none;
}

.item_img {
  position: relative;

  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item0 {
  border-radius: 20px;

  position: relative;
  grid-area: rt;
  width: 12.5vw;
  overflow: hidden;
  height: 140px;
}
.item1 {
  border-radius: 20px;
  position: relative;
  grid-area: ct;
  width: 12.5vw;
  overflow: hidden;
  height: 140px;
}
.item2 {
  border-radius: 20px;
  position: relative;
  grid-area: lt;
  width: 12.5vw;
  height: 300px;
  overflow: hidden;
}
.item3 {
  border-radius: 20px;
  position: relative;
  grid-area: rb;
  width: 26vw;
  height: 300px;
  overflow: hidden;
}
.item4 {
  border-radius: 20px;
  position: relative;
  grid-area: lb;
  width: 12.5vw;
  height: 140px;
  overflow: hidden;
}

.item5 {
  border-radius: 20px;
  position: relative;
  grid-area: llt;
  width: 12.5vw;
  height: 140px;
  overflow: hidden;
}
.item6 {
  border-radius: 20px;
  position: relative;
  grid-area: cct;
  overflow: hidden;
  width: 12.5vw;
  height: 140px;
}
.item7 {
  border-radius: 20px;
  position: relative;
  grid-area: rrt;
  width: 12.5vw;
  overflow: hidden;
  height: 300px;
}
.item8 {
  border-radius: 20px;
  position: relative;
  grid-area: llb;
  width: 26vw;
  overflow: hidden;
  height: 300px;
}
.item9 {
  border-radius: 20px;
  position: relative;
  grid-area: rrb;
  width: 12.5vw;
  overflow: hidden;
  height: 140px;
}

.item10 {
  border-radius: 20px;
  position: relative;
  grid-area: rtt;
  width: 12.5vw;
  height: 140px;
  overflow: hidden;
}
.item11 {
  border-radius: 20px;
  position: relative;
  grid-area: ctt;
  width: 12.5vw;
  height: 140px;
  overflow: hidden;
}
.item12 {
  border-radius: 20px;
  position: relative;
  grid-area: ltt;
  width: 12.5vw;
  height: 300px;
  overflow: hidden;
}
.item13 {
  border-radius: 20px;
  position: relative;
  grid-area: rbb;
  width: 26vw;
  height: 300px;
  overflow: hidden;
}
.item14 {
  border-radius: 20px;
  position: relative;
  grid-area: lbb;
  width: 12.5vw;
  height: 140px;
  overflow: hidden;
}

.item15 {
  border-radius: 20px;
  position: relative;
  grid-area: lltt;
  width: 12.5vw;
  height: 140px;
  overflow: hidden;
}
.item16 {
  border-radius: 20px;
  position: relative;
  grid-area: cctt;
  width: 12.5vw;
  height: 140px;
  overflow: hidden;
}
.item17 {
  border-radius: 20px;
  position: relative;
  grid-area: rrtt;
  width: 12.5vw;
  height: 300px;
  overflow: hidden;
}
.item18 {
  border-radius: 20px;
  position: relative;
  grid-area: llbb;
  width: 26vw;
  height: 300px;
  overflow: hidden;
}
.item19 {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  grid-area: rrbb;
  width: 12.5vw;
  height: 140px;
}

.grid_container {
  position: relative;
  display: grid;
  grid-template-areas:
    'lt ct rt'
    'lt rb rb'
    'lb rb rb'
    'llt cct rrt'
    'llb llb rrt'
    'llb llb rrb'
    'ltt ctt rtt'
    'ltt rbb rbb'
    'lbb rbb rbb'
    'lltt cctt rrtt'
    'llbb llbb rrtt'
    'llbb llbb rrbb';
  grid-gap: 10px;
  padding: 10px;
}

.hovered_div {
  position: absolute;

  background-color: rgba(255, 134, 142, 0.6);

  text-align: center;
  color: var(--text);
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  z-index: 4;
  display: none;
}

.hovered_text {
  background: var(--form);
  border-radius: 10px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  text-align: center;
  color: var(--active);
  margin-bottom: 15px;
}

.hovered {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hovered_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hovered_div .like {
  background-image: none;
}

@media screen and (min-width: 1462px) {
  /* ... */
}
@media screen and (max-width: 1000px) {
  .item0 {
    width: 26vw;
  }
  .item1 {
    width: 26vw;
  }
  .item2 {
    width: 26vw;
  }
  .item3 {
    width: 53vw;
  }
  .item4 {
    width: 26vw;
  }
  .item5 {
    width: 26vw;
  }
  .item6 {
    width: 26vw;
  }
  .item7 {
    width: 26vw;
  }
  .item8 {
    width: 53vw;
  }
  .item9 {
    width: 26vw;
  }
  .item10 {
    width: 26vw;
  }
  .item11 {
    width: 26vw;
  }
  .item12 {
    width: 26vw;
  }
  .item13 {
    width: 53vw;
  }
  .item14 {
    width: 26vw;
  }
  .item15 {
    width: 26vw;
  }
  .item16 {
    width: 26vw;
  }
  .item17 {
    width: 26vw;
  }
  .item18 {
    width: 53vw;
  }
  .item19 {
    width: 26vw;
  }
}
@media screen and (max-width: 800px) {
  .item0 {
    width: 24vw;
  }
  .item1 {
    width: 24vw;
  }
  .item2 {
    width: 24vw;
  }
  .item3 {
    width: 53vw;
  }
  .item4 {
    width: 24vw;
  }
  .item5 {
    width: 24vw;
  }
  .item6 {
    width: 24vw;
  }
  .item7 {
    width: 24vw;
  }
  .item8 {
    width: 50vw;
  }
  .item9 {
    width: 24vw;
  }
  .item10 {
    width: 24vw;
  }
  .item11 {
    width: 24vw;
  }
  .item12 {
    width: 24vw;
  }
  .item13 {
    width: 50vw;
  }
  .item14 {
    width: 24vw;
  }
  .item15 {
    width: 24vw;
  }
  .item16 {
    width: 24vw;
  }
  .item17 {
    width: 24vw;
  }
  .item18 {
    width: 50vw;
  }
  .item19 {
    width: 24vw;
  }
}
@media screen and (max-width: 600px) {
  .grid_container {
    display: block;
    align-items: center;
    justify-content: center;
    .item0 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item1 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item2 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item3 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item4 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item5 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item6 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item7 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item8 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item9 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item10 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item11 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item12 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item13 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item14 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item15 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item16 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item17 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item18 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
    .item19 {
      width: 100%;
      height: 250px;
      margin-bottom: 10px;
    }
  }
  /* ... */
}
